.TrustLevels-list {
    margin: 20px 0 20px 0;
    padding: 10px 20px;

    border: 1px solid @control-bg;
    border-radius: 4px;

    .TrustLevels-list-heading {
        font-weight: bold;
        color: @muted-color;
        margin-bottom: 15px;
    }
}

.TrustLevels-footer {
    color: @control-color;

    p {
        margin-bottom: 0;
        font-weight: bold;
    }

    ul {
        margin-block-start: .3em;
        padding-inline-start: 28px;
    }
}